header{
    font-size: 50px;
    text-align: center;
    border: 10px;
    background-color: rgb(62, 109, 211);
}
.container_1 .row{
  margin: 0px;
  padding: 0px;
  justify-content: center;
  color: black;
  font-size: 25px;
  border: 10px;
}
.container_1 .nhietDo{
  background-color: rgb(113, 152, 238);
}
.container_1 .anhSang{
  background-color: rgb(135, 166, 233);
}
.container_1 .doAm{
  background-color: rgb(88, 132, 226);
}
.container_1 .dothi{
  background-color: rgb(130, 143, 168);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container_1 .t1{
  border-bottom: 1px solid #ffffff;
}
.container_1 {
  width: 100%;
  margin: 0px auto;
}
 .container_1 .dothi .title {
  text-align: center;
  font-size:40px;
  /* margin-bottom: 50px; */
}
 #canvas {
  width: 100%;
  background-color: white;
} 

/* .slider {
  top: 100;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
} */

/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
} */

/* Hide default HTML checkbox
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
/* .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
} */
Rounded sliders
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.container_1 .nutbam1{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-bottom: 1px solid #ffffff;
  height: 50%;
}
.container_1 .nutbam2{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 50%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
} 

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
#button{
  width: 100px;
  height: 50px;
  font-size: 20px;
  justify-content: center;
}